@import 'fonts/fonts';
@import 'reset';
@import 'lib/slick';
@import 'mixins/mixins';
@import 'variables/global';
@import 'variables/typography';
@import 'variables/dimensions';
@import 'themes/default';
@import 'themes/dark';

#root {
  height: 100%;
}

body {
  color: var(--primary-color);
  font-size: var(--font-size-body-large);
  background: var(--surface-color);
  font-family: var(--font-family-main), sans-serif;
}

.App {
  overflow: hidden;
  min-height: 100%;
}

.AppInner {
}

.AppMain {
  flex: 1 1 auto;
  min-width: 0;
}

.Page {
  flex: 1 1 auto;
  padding: var(--base-size-20);
  background-color: var(--surface-container-color-lowest);
  border-radius: var(--border-radius-m);
}

.Container {
  height: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}