.Sidebar {
  flex: 0 0 var(--sidebar-width);
  background-color: var(--sidebar-background-color);
  overflow: hidden;
}

.header {
  padding: var(--base-size-20);
  border-bottom: var(--base-border-variant);
}

.logo {
  transition: margin, opacity, .3s ease 0s;
}

.body {
  padding: 0 var(--base-size-12);
}

.collapsed {
  &.Sidebar {
    flex: 0 0 var(--sidebar-width-collapsed);
  }

  .logo {
    opacity: 0;
    margin-left: -10rem;
    transform: scale(0.3);
  }
}