.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;

  // Size
  &.small {
    width: var(--icon-button-size-s);
    height: var(--icon-button-size-s);
    flex: 0 0 var(--icon-button-size-s);
  }

  &.medium {
    width: var(--icon-button-size-m);
    height: var(--icon-button-size-m);
    flex: 0 0 var(--icon-button-size-m);
  }

  &.large {
    width: var(--icon-button-size-l);
    height: var(--icon-button-size-l);
    flex: 0 0 var(--icon-button-size-l);
  }
}