.FileUploaderBody {
  position: relative;
}

.dropzone.dropzone {
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
  max-height: 30rem;
  overflow: auto;
}

.progressbar {
  position: absolute;
  top: -0.25rem;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity, bottom, 0.3s ease 0s;
}

.error {
  position: absolute;
  bottom: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 37.5rem;
  padding: var(--base-size-4) var(--base-size-8);
  border-radius: var(--border-radius-m);
  background-color: var(--error-color);
}

.uploading {
  .progressbar {
    top: 0;
    opacity: 1;
  }
}

