.ModuleItem {
  cursor: pointer;
  position: relative;
  padding: var(--base-size-20);
  border-radius: var(--border-radius-s);
  background-color: var(--surface-container-color-low);
  border: var(--base-border-variant);
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: var(--primary-color);
    transition: transform, opacity, .2s ease 0s;
  }

  @media (any-hover: hover) {
    &:hover {
      &::after {
        transform: scaleY(1);
        opacity: 1;
      }
    }
  }
}

.author {
  border-left: 2px solid var(--outline-color-variant);
  padding-left: var(--base-size-12);
}

.skeleton {
  &::after {
    display: none;
  }
}