.Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 100;
  overflow: hidden;
  overflow-y: auto;
}

.inner {
  display: none;
  max-width: 47.9375rem;
  width: 100%;
  z-index: 10;
  border-radius: var(--border-radius-s);
  padding: var(--base-size-24);
  background-color: var(--surface-color);
  margin: 0 var(--base-size-16);
}

.header {
  padding: var(--base-size-12);
  border-bottom: var(--base-border);
}

.body {
  padding: var(--base-size-20) var(--base-size-12);
}

.footer {
  padding: var(--base-size-12);
  border-top: var(--base-border);
}

.open {
   .inner {
      display: block;
   }
}
