.Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 100;
  overflow: hidden;
  overflow-y: auto;
}

.inner {
  display: none;
  max-width: 767px;
  width: 100%;
  z-index: 10;
  padding: var(--base-size-20);
  border-radius: 12px;
  background-color: var(--surface-color);
  margin: 0 1rem;
}

.open {
   .inner {
      display: block;
   }
}
